body {
               font-family: Arial, sans-serif;
           }
           
           header {
               background-color: #4CAF50;
               padding: 20px;
               color: white;
               text-align: center;
           }
           
           h2 {
               color: #333;
           }
           